@charset "UTF-8";

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 20px 70px;
}

nav ul li {
  font-size: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#top {
  height: 700px;
  background: url("../img/top.png") no-repeat center;
  background-size: cover;
}

.top_wrap h1 {
  font-size: 60px;
  color: #fff;
  float: right;
  margin: 275px;
}

#service {
  width: 80%;
  margin: 100px auto;
}

.section_title {
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  color: #000;
  padding: 1rem 2rem;
  border-bottom: 3px solid #000;
  background: #f4f4f4;
}

.service_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
e
.service_left img {
  width: 80%;
  height: auto;
}

.service_right h3 {
  color: #000;
  font-size: 20px;
  padding: 20px 0;
}

span {
  color: red;
}

.service_right p {
  font-size: 15px;
  color: #555;
}

#news {
  width: 80%;
  margin: 100px auto;
}

.news_wrap {
  max-width: 450px;
  margin: 0 auto;
}

.news_wrap p {
  line-height: 2.5;
}

#price {
  width: 80%;
  margin: 100px auto;
}

.price_wrap table {
  border: double #000 10px;
  width: 100%;
  text-align: center;
}

.price_wrap table tr {
  border: solid #000 2px;
  padding: 10px;
}

.price_wrap table th {
  border: solid #000 2px;
  padding: 10px;
}

.price_wrap table td {
  border: solid #000 2px;
  padding: 10px;
}

.plan_a {
  background-color: #f9c;
}

.plan_b {
  background-color: #9cf;
}


#contact {
  background: rgb(241, 241, 241)
}

#contact h2 {
  padding: 40px 0;
}

.form {
  width: 70%;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 30%;
  line-height: 2;
}

input,
textarea {
  box-sizing: border-box;
  border: solid #ddd 1px;
  width: 65%;
  margin-bottom: 15px;
}

input {
  padding: 6px;
}

textarea {
  vertical-align: top;
  height: 200px;
}

.button_submit {
  text-align: center;
}

.button {
  padding: 10px 50px;
  background-color: #555;
  margin: 50px;
  font-weight: bold;
  border: none;
  color: #fff;
  box-shadow: 0 7px #c0c0c0;
}

.button:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

#footer {
  background-color: #444;
  padding: 50px;
  text-align: center;
  color: #fff;
}